$primary: #290661;
$secondary: #5f0ee0;

$primary: #140330;
$secondary: #160d27;

@import "../../node_modules/bootstrap/scss/bootstrap";

textarea {
  height: 150px !important;
}

.fa-eye {
  width: 20px;
}

.progress {
  height: 7px;
}

