$primary: #290661;
$secondary: #5f0ee0;

$primary: #140330;
$secondary: #160d27;

$gradient: linear-gradient(180deg, rgba(20,3,48,1) 0%, rgba(82,82,238,1) 20%, rgba(0,0,0,1) 100%);

@import "../../node_modules/bootstrap/scss/bootstrap";

textarea {
  height: 150px !important;
}

.fa-eye {
  width: 20px;
}

.carousel-item {
  background-image: url("../img/background.jpg");
}

.carousel-control {
  background: none;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}

.carousel-indicators {
  bottom: -50px;
}

.spinner-grow {
  width: 5rem;
  height: 5rem;
}

.nav-link:not(#store) {
  color: white !important;
  background-color: $primary !important;
}

.nav-link.active:not(#store) {
  color: $primary !important;
  background-color: white !important;
}

#backgroundImg {
  z-index: -1;
  background-repeat: no-repeat;
  background-size: 100%;
  filter: blur(3px);
}

.toast {
  z-index: 2000;
}
